################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Narrib/config/applicationhost.config
/.vs/Narrib/FileContentIndex/3186d081-b85b-490e-9e4b-9a2a74f15f15.vsidx
/.vs/Narrib/FileContentIndex/a5e5e070-cfef-4efa-854a-e1c0b308255a.vsidx
/.vs/Narrib/FileContentIndex/ad064dfa-0627-46d4-a083-570fa56bd1e8.vsidx
/.vs/Narrib/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Narrib/FileContentIndex/75bdbd86-6743-4a77-9372-0836d791706c.vsidx
/.vs/Narrib/FileContentIndex/3d490085-b104-4c2b-9317-ee7d506ef6be.vsidx
