################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Narrib/config/applicationhost.config
/.vs/Narrib/FileContentIndex/3186d081-b85b-490e-9e4b-9a2a74f15f15.vsidx
/.vs/Narrib/FileContentIndex/a5e5e070-cfef-4efa-854a-e1c0b308255a.vsidx
/.vs/Narrib/FileContentIndex/ad064dfa-0627-46d4-a083-570fa56bd1e8.vsidx
/.vs/Narrib/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Narrib/FileContentIndex/75bdbd86-6743-4a77-9372-0836d791706c.vsidx
/.vs/Narrib/FileContentIndex/3d490085-b104-4c2b-9317-ee7d506ef6be.vsidx
/.vs/Narrib/FileContentIndex/51be31bc-d1e4-43c6-b343-16537c666fbc.vsidx
/.gitignore
/.vs/Narrib/FileContentIndex/dc608ab8-f234-4f88-b9e7-fdd422caadc7.vsidx
/.gitignore
/.gitignore
/.vs/Narrib/FileContentIndex/56076257-89a6-438e-9582-ca827686da71.vsidx
/.vs/Narrib/FileContentIndex/808c339d-0405-473c-bd51-6df45687c3fe.vsidx
/.vs/Narrib/FileContentIndex/ab732d53-ea80-40ea-a506-7874cd57e50d.vsidx
/.vs/Narrib/FileContentIndex/8d72cd3f-6046-46e7-a301-a389d4934a4a.vsidx
/.vs/Narrib/FileContentIndex/a68c6645-39c4-4e01-a370-299d7073ce82.vsidx
/.vs/slnx.sqlite-journal
